.body {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 6.5rem;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.sidebar {
  position: sticky;
  top: 6rem;
  height: fit-content;
}

.content {
  width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Each individual "## heading + content" group */
.article > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 1023px) {
  .body {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
  }
}
