.main {
  overflow-x: hidden;
}

.body {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 6.5rem;
  width: fit-content;
  margin: 0 auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.sidebar {
  position: sticky;
  top: 6rem;
  height: fit-content;
}

.content {
  width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Each individual "## heading + content" group */
.article > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 1023px) {
  .body {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .body {
    gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
