.body {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: start;
  gap: 6.375rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.sidebar {
  position: sticky;
  top: 6rem;
  height: fit-content;
}

.content {
  width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.article {
}

@media (max-width: 1023px) {
  .body {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
  }
}
